[submodule "third-code/gtest"]
	path = third-code/gtest
	url = https://github.com/abseil/googletest.git
[submodule "third-code/gflags"]
	path = third-code/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third-code/libscrypt"]
	path = third-code/libscrypt
	url = https://github.com/technion/libscrypt.git
[submodule "third-code/relic"]
	path = third-code/relic
	url = https://github.com/relic-toolkit/relic.git
[submodule "third-code/protobuf"]
	path = third-code/protobuf
	url = http://192.168.9.66/PlatON/protobuf.git
[submodule "third-code/emp-tool"]
	path = third-code/emp-tool
	url = http://192.168.9.66/PlatON/emp-tool.git
[submodule "third-code/emp-ot"]
	path = third-code/emp-ot
	url = http://192.168.9.66/PlatON/emp-ot.git
[submodule "third-code/emp-sh2pc"]
	path = third-code/emp-sh2pc
	url = http://192.168.9.66/PlatON/emp-sh2pc.git
