# vusal studio
.vs
pub
out
output
build
build32
build64
target
build/**
.vscode/
*.o
*.obj
*.idea
~*.docx
*.iml
sftp-config.json

juzix-mpc-toolkit/vsprojects/juzixmpc/Debug
*.lik
*.tlog
*.pdb
*.db
*.idb
*.log
*.enc
*.suo
*.opendb
.suo
*.aps
*.pch
*.ipch
*.exe
*.lnk

juzix-mpc-toolkit/vsprojects/juzixmpc/miracl/Debug
juzix-mpc-toolkit/vsprojects/juzixmpc/juzixmpcTest/Debug
juzix-mpc-toolkit/vsprojects/juzixmpc/juzixPerfTest/Debug
juzix-mpc-toolkit/vsprojects/juzixmpc/.vs
juzix-mpc-toolkit/vsprojects/juzixmpc/.vs/**

juzix-mpc-toolkit/vsprojects/juzixmpc/juzixmpcTest/Debug


###
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS


juzix-mpc-toolkit/vsprojects/juzixmpc/juzixmpcTest/Debug/**
juzix-mpc-toolkit/vsprojects/juzixmpc/Release
juzix-mpc-toolkit/vsprojects/juzixmpc/Release/**

/juzix-mpc-toolkit/juzix-mpc-java/JuzixJavaOT/bin/**

/java/config/cfg.client1.config
/java/config/cfg.client2.config

/build32/ZERO_CHECK.vcxproj.filters
